.main-application {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    header {
        display: flex;
        width: 100%;
        padding: 1em;

        & > div {
            display: flex;
            flex: 1;
            justify-content: flex-start;
            align-items: center;

            h2 {
                margin-left: 1em;
                color: $color-text-gray1;
            }
        }

        nav {
            display: flex;

            ul {
                list-style: none;
                display: flex;
            }
        }
    }
}