* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family;
}

html, body, #root {
    width: 100%;
    height: 100%;
}

html{
    font-size: 14px;
    @media screen and (min-width: $break-lg) {
       font-size: 16px; 
    }
}
